[Unit]
Description=Clipboard
Documentation=man:cliphist(1)
PartOf=wayland-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Slice=clipboard.slice
ExecStart=/usr/bin/wl-paste --watch /usr/bin/cliphist store
Restart=on-failure
RestartSec=1
Nice=5

[Install]
WantedBy=sway-session.target
