[Unit]
Description=Sunset update for Hyprland
PartOf=hyprland-session.target
Requires=hyprsunset.service
After=hyprsunset.service

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=hyprsunset-update.service

[Install]
WantedBy=timers.target
