[Unit]
Description=Sunset update for Hyprland
Requires=hyprsunset.service
After=hyprland-session.target

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=hyprsunset-update.service

[Install]
WantedBy=timers.target
