[Unit]
Description=mako notification daemon
Documentation=man:mako(1)
PartOf=wayland-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
Slice=mako.slice
ExecStart=/usr/bin/mako
Nice=5

[Install]
WantedBy=sway-session.target
