[Unit]
Description=Tmux session %I
PartOf=graphical-session.target
Requires=wayland-session.target
After=wayland-session.target

[Service]
Slice=tmux-%i.slice
Type=forking
ExecStart=/usr/bin/tmuxp load -d -S %t/tmux-%i %E/tmuxp/%i.yaml
ExecStop=/usr/bin/tmux -S %t tmux-%i kill-server
Nice=10

[Install]
WantedBy=wayland-session.target
