[Unit]
Description=Tmux session %I
PartOf=graphical-session.target
Requires=wayland-session.target
After=wayland-session.target

[Service]
Slice=tmux-%i.slice
Type=forking
ExecStart=/usr/bin/tmux -S /run/user/%U/tmux-%i start-server
ExecStop=/usr/bin/tmux -S /run/user/%U/tmux-%i kill-server
Nice=10

[Install]
WantedBy=wayland-session.target
