[Unit]
Description=Tmux session %I
PartOf=wayland-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Slice=%i.slice
Type=forking
ExecStart=/usr/bin/tmux new-session -s %i -d
ExecStop=/usr/bin/tmux kill-session -t %i
Nice=10

[Install]
WantedBy=sway-session.target
