[Unit]
Description=Wallpaper
Documentation=man:swaybg(1)
PartOf=wayland-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Slice=wallpaper.slice
EnvironmentFile=%E/wallpaper/service.conf
ExecStart=%h/.scripts/sway/wallpaperrc -i "${INTERVAL}"
Restart=on-failure
RestartSec=1
Nice=5

[Install]
WantedBy=sway-session.target
