##
## List of files to be ignored by Git
##
## See: http://help.github.com/ignore-files for more information.
##

*

!.gitignore

!README.md

!.zshenv
!.zprofile
!.zshrc
!.zlogin
!.zlogout

!.p10k.zsh

!.hushlogin

!.tmux.conf

!.ssh
!.ssh/authorized_keys

!.config

!.config/foot
!.config/foot/**/*

!.config/gammastep
!.config/gammastep/**/*

!.config/gtk-4.0
!.config/gtk-4.0/**/*

!.config/gtk-3.0
!.config/gtk-3.0/**/*

!.config/idle
!.config/idle/**/*

!.config/kanshi
!.config/kanshi/**/*

!.config/mako
!.config/mako/**/*

!.config/sway
!.config/sway/config
!.config/sway/config.d
!.config/sway/config.d/**/*.d
!.config/sway/config.d/**/*.conf

!.config/swaylock
!.config/swaylock/**/*

!.config/systemd
!.config/systemd/user

!.config/systemd/user/clipboard.*
!.config/systemd/user/gammastep.*
!.config/systemd/user/idle.*
!.config/systemd/user/kanshi.*
!.config/systemd/user/keepassxc.*
!.config/systemd/user/mako.*
!.config/systemd/user/polkit-agent.*
!.config/systemd/user/sway.*
!.config/systemd/user/terminal.*
!.config/systemd/user/tmux.*
!.config/systemd/user/wallpaper.*
!.config/systemd/user/waybar.*

!.config/systemd/user/graphical-environment.*

!.config/systemd/user/sway-session.*
!.config/systemd/user/sway-session.*/clipboard.*
!.config/systemd/user/sway-session.*/gammastep.*
!.config/systemd/user/sway-session.*/idle.*
!.config/systemd/user/sway-session.*/kanshi.*
!.config/systemd/user/sway-session.*/keepassxc.*
!.config/systemd/user/sway-session.*/mako.*
!.config/systemd/user/sway-session.*/polkit-agent.*
!.config/systemd/user/sway-session.*/tmux.*
!.config/systemd/user/sway-session.*/wallpaper.*
!.config/systemd/user/sway-session.*/waybar.*

!.config/systemd/user/wayland-session.*

!.config/wallpaper
!.config/wallpaper/service.conf

!.config/waybar
!.config/waybar/config.json
!.config/waybar/style.css
!.config/waybar/config.d
!.config/waybar/config.d/**
!.config/waybar/config.d/**/*.json

!.scripts

!.scripts/sway
!.scripts/sway/*rc
!.scripts/sway/initrc.d
!.scripts/sway/initrc.d/**/*.d
!.scripts/sway/initrc.d/**/*.sh
!.scripts/sway/postrc.d
!.scripts/sway/postrc.d/**/*.d
!.scripts/sway/postrc.d/**/*.sh

!.wallpapers
!.wallpapers/**/*
