##
## List of files to be ignored by Git
##
## See: http://help.github.com/ignore-files for more information.
##

*

!.gitignore

!README.md

!.zshenv
!.zprofile
!.zshrc
!.zlogin
!.zlogout

!.p10k.zsh

!.ssh
!.ssh/authorized_keys

!.config

!.config/gammastep
!.config/gammastep/**/*

!.config/idle
!.config/idle/**/*

!.config/kanshi
!.config/kanshi/**/*

!.config/mako
!.config/mako/**/*

!.config/sway
!.config/sway/config
!.config/sway/config.d
!.config/sway/config.d/**/*.d
!.config/sway/config.d/**/*.conf

!.config/swaylock
!.config/swaylock/**/*

!.config/systemd
!.config/systemd/user
!.config/systemd/user/**/*

!.config/wallpaper
!.config/wallpaper/service.conf

!.config/waybar
!.config/waybar/config.json
!.config/waybar/style.css
!.config/waybar/config.d
!.config/waybar/config.d/**
!.config/waybar/config.d/**/*.json

!.scripts

!.scripts/sway
!.scripts/sway/*rc
!.scripts/sway/initrc.d
!.scripts/sway/initrc.d/**/*.d
!.scripts/sway/initrc.d/**/*.sh
!.scripts/sway/postrc.d
!.scripts/sway/postrc.d/**/*.d
!.scripts/sway/postrc.d/**/*.sh

!.wallpapers
!.wallpapers/**/*
