##
## List of files to be ignored by Git
##
## See: http://help.github.com/ignore-files for more information.
##

*

!.gitignore

!README.md

!.zshenv

!.zshenv.d
!.zshenv.d/**/*.zsh

!.zprofile
!.zshrc
!.zlogin
!.zlogout

!.p10k.zsh

!.hushlogin

!.tmux
!.tmux/plugins
!.tmux/plugins/tpm

!.tmux.conf

!.ssh
!.ssh/authorized_keys

!.config

!.config/foot
!.config/foot/foot.ini

!.config/gtk-2.0
!.config/gtk-2.0/settings.ini

!.config/gtk-3.0
!.config/gtk-3.0/settings.ini

!.config/gtk-4.0
!.config/gtk-4.0/settings.ini

!.config/hypr

!.config/hypr/hypridle.conf
!.config/hypr/hyprland.conf

!.config/hypr/hyprland.conf.d
!.config/hypr/hyprland.conf.d/**/*.conf
!.config/hypr/hyprland.conf.d/**/*.conf.d

!.config/hypr/hyprlock.conf
!.config/hypr/hyprpaper.conf

!.config/hypr/hyprland.d
!.config/hypr/hyprland.d/**/*.conf

!.config/kanshi
!.config/kanshi/config

!.config/mako
!.config/mako/config

!.config/sway
!.config/sway/config

!.config/sway/config.d
!.config/sway/config.d/**/*.d
!.config/sway/config.d/**/*.conf

!.config/swaybg
!.config/swaybg/service.conf

!.config/swayidle
!.config/swayidle/service.conf

!.config/swaylock
!.config/swaylock/config

!.config/systemd
!.config/systemd/user

!.config/systemd/user/clipboard.service
!.config/systemd/user/clipboard.slice

!.config/systemd/user/default.target.wants

!.config/systemd/user/default.target.wants/ssh-agent.service
!.config/systemd/user/default.target.wants/deluge.service

!.config/systemd/user/deluge.service
!.config/systemd/user/deluge.slice

!.config/systemd/user/hypridle.service
!.config/systemd/user/hypridle.slice

!.config/systemd/user/hyprland.service
!.config/systemd/user/hyprland.slice

!.config/systemd/user/hyprland-session.target
!.config/systemd/user/hyprland-session.target.wants

!.config/systemd/user/hyprland-session.target.wants/hypridle.service
!.config/systemd/user/hyprland-session.target.wants/hyprpaper.service
!.config/systemd/user/hyprland-session.target.wants/waybar@hyprland.service

!.config/systemd/user/hyprlock.service
!.config/systemd/user/hyprlock.slice

!.config/systemd/user/hyprpaper.service
!.config/systemd/user/hyprpaper.slice

!.config/systemd/user/kanshi.service
!.config/systemd/user/kanshi.slice

!.config/systemd/user/keepassxc.service
!.config/systemd/user/keepassxc.slice

!.config/systemd/user/mako.service
!.config/systemd/user/mako.slice

!.config/systemd/user/polkit-agent.service
!.config/systemd/user/polkit-agent.slice

!.config/systemd/user/solaar.service
!.config/systemd/user/solaar.slice

!.config/systemd/user/ssh-agent.service
!.config/systemd/user/ssh-agent.slice

!.config/systemd/user/sway.service
!.config/systemd/user/sway.slice

!.config/systemd/user/sway-session.target
!.config/systemd/user/sway-session.target.wants

!.config/systemd/user/sway-session.target.wants/swaybg.service
!.config/systemd/user/sway-session.target.wants/swayidle.service
!.config/systemd/user/sway-session.target.wants/waybar@sway.service

!.config/systemd/user/swaybg.service
!.config/systemd/user/swaybg.slice

!.config/systemd/user/swayidle.service
!.config/systemd/user/swayidle.slice

!.config/systemd/user/tmux@.service

!.config/systemd/user/tmux-terminal.slice

!.config/systemd/user/udiskie.service
!.config/systemd/user/udiskie.slice

!.config/systemd/user/waybar@.service
!.config/systemd/user/waybar.slice

!.config/systemd/user/wayland-session.target
!.config/systemd/user/wayland-session.target.wants

!.config/systemd/user/wayland-session.target.wants/clipboard.service
!.config/systemd/user/wayland-session.target.wants/kanshi.service
!.config/systemd/user/wayland-session.target.wants/keepassxc.service
!.config/systemd/user/wayland-session.target.wants/mako.service
!.config/systemd/user/wayland-session.target.wants/polkit-agent.service
!.config/systemd/user/wayland-session.target.wants/tmux@terminal.service
!.config/systemd/user/wayland-session.target.wants/tmux@scratchpad.service
!.config/systemd/user/wayland-session.target.wants/udiskie.service
!.config/systemd/user/wayland-session.target.wants/wlsunset.service

!.config/systemd/user/wlsunset.service
!.config/systemd/user/wlsunset.slice

!.config/waybar
!.config/waybar/hyprland.jsonc
!.config/waybar/sway.jsonc
!.config/waybar/style.css

!.config/waybar/modules
!.config/waybar/modules/**
!.config/waybar/modules/**/*.jsonc

!.config/wlsunset
!.config/wlsunset/service.conf

!.scripts

!.scripts/sway
!.scripts/sway/*rc
!.scripts/sway/initrc.d
!.scripts/sway/initrc.d/**/*.d
!.scripts/sway/initrc.d/**/*.sh
!.scripts/sway/postrc.d
!.scripts/sway/postrc.d/**/*.d
!.scripts/sway/postrc.d/**/*.sh

!.scripts/hypr
!.scripts/hypr/**/*

!.wallpapers
!.wallpapers/**/*
